/* by Matthew Carpenter */

/* ============= */
/* === reset === */
/* ============= */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    font-weight: 400;
    color: #2d3436;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    color: #2d3436;
    padding: 0;
    margin: 0;
}

a,
p,
div,
header,
footer,
seciton,
nav {
    color: #2d3436;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
    color: #2d3436;
    text-decoration: none;
}

/* ============== */
/* === global === */
/* ============== */

body {
    font-family: 'Open Sans', sans-serif;
    background-image: radial-gradient(#f1f1f1 20%, transparent 20%);
    background-position: 0 0, 1px 1px;
    background-size: 10px 10px;
}

h1 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
}

h1 span:first-child {
    margin-right: .2em;
}

h1 span:last-child {
    border-bottom: 1px solid #2d3436;
    display: inline-block;
}

h2 {
    font-size: 1em;
    color: #2980b9;
}

img {
    max-width: 2em;
}

/* ============== */
/* --- header --- */
/* ============== */
header {
    position: fixed;
    top: 1em;
    left: 1em;
    max-width: 80%;
}

/* =========== */
/* --- nav --- */
/* =========== */
nav {
    position: fixed;
    top: 0;
    right: 1em;
    display: flex;
}

/* ================= */
/* --- container --- */
/* ================= */
.container {
    min-height: calc(100vh - 64px); /* 64px is chosen to make sure the footer sticks to the bottom */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .stopwatch_wrap {
    width: 100%;
    margin-top: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .plus_button {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3em;
    padding: .1em;
    margin: .5em;
    border-radius: .2em;
    background: #fff;
    border: 1px solid #2d3436;
    user-select: none;
}

.container .plus_button:hover {
    cursor: pointer;
}

.container .plus_button:active {
    transform: translateY(4px);
}

/* ================= */
/* --- stopwatch --- */
/* ================= */

.stopwatch {
    position: relative;
    width: 512px;
    height: 300px;
    padding: .5em;
    margin: 1em;
    background: #fff;
    border-radius: .2em;
    border: 1px solid #2d3436;
}

.stopwatch .close_button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2.5em;
    width: .8em;
    height: .8em;
    transform: translate(50%, -50%);
    background-color: #ffffff;
    border-radius: 50%;
    user-select: none;
}

.stopwatch .close_button:hover {
    cursor: pointer;
}

.stopwatch .timer {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'Julius Sans One', sans-serif;
    user-select: none;
}

.stopwatch .timer div {
    width: 50%;
    margin: 0;
    padding: 0;
}

.stopwatch .timer div:first-child {
    text-align: end;
}

.stopwatch .timer div:last-child {
    text-align: start;
}

.stopwatch .buttons {
    width: 100%;
    font-size: 2em;
    font-weight: 200;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stopwatch .buttons div:first-child {
    color: #2980b9;
}

.stopwatch .buttons div:last-child {
    color: #c0392b;
}

.button {
    text-transform: uppercase;
    user-select: none;
    width: 40%;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: translateY(3px);
}

/* ============== */
/* --- footer --- */
/* ============== */
footer {
    height: 64px;
    background-color: #555;
}

footer p {
    font-size: .8em;
    color: #ffffff;
    text-align: center;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div img {
    filter: invert(1);
    opacity: .8;
    margin: .3em;
}

/* ============================= */
/* === @media / media queries=== */
/* ============================= */

/* ============== */
/* === mobile === */
/* ============== */
@media (max-width: 768px) {

    body {
        font-size: 12px;
    }

    .stopwatch {
        position: relative;
        width: 100%;
        height: 200px;
    }
}

/* ============== */
/* === tablet === */
/* ============== */
@media (min-width: 769px) and (max-width: 1025px) {
    
}

/* =============== */
/* === desktop === */
/* =============== */
@media (min-width: 1025px) {
    
}

/* ================== */
/* === !important === */
/* ================== */

.hide {
    display: none !important;
}